.container-fluid{
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none !important;
    touch-action: manipulation !important;
}
$primaryColor: #080;
$secodaryColor: #111111;
@mixin headingStyle {
    content: "\\\\";
    color: $primaryColor;
    font-size: 36px;
    letter-spacing: -5px;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    line-height: 1;
    font-weight: bold;
}
@mixin marginBefore {
    margin-right: 20px;
}
@mixin marginRight {
    margin-left: 20px;
}